.commit-group {
  margin-top: 0px !important;
}
.commits-listing::before, .commit-group-title {
  display: none !important;
}
.commits-listing {
  float: right;
  padding-left: 10px !important;
}
.commits-listing + * {
  clear: both;
}
#octotrax-commit-graph {
  float: left;
}
